:root {
    --primary : #d92027;
    --darkPrimary : #810000;
    --onPrimary : #ffffff;
    --secondary : #e48900;
    --onBackground : #212121;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

img {
    width: 100%;
    display: block;
}

.header{
    background-color: var(--primary);
}

.header__container, .restaurant__list, .restaurant__detail__container{
    max-width: 1024px; 
    margin: auto;
}

.header__container{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__title{
    font-size: 1.5rem;
    text-align: center;
    color: var(--onPrimary);
    padding-right: 1rem;
    flex-grow: 1;
}

#hamburger{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    text-decoration: none;
    text-align: end;
    flex-shrink: 0;
    color: var(--onPrimary);
    cursor: pointer;
    background-color: transparent;
    border: none;
}
#hamburger svg{
    width: 1.5rem;
    height: 1.5rem;
}

.header__nav{
    display: none;
}
.header__nav__list, .nav .nav__list{
    list-style-type: none;
}

.header__nav__list .header__nav__item{
    display: inline-block;
}

.header__nav__list .header__nav__item a{
    text-decoration: none;
    padding: 1rem;
    color: #eeeeee;
}

.header__nav__list .header__nav__item a:hover{
    text-decoration: underline;
    color: var(--onPrimary);
}

.nav {
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 80px;
    display: none;
    z-index: 10;
}

.nav.open{
    display: block;
}

.nav .nav__list .nav__item a{
    color: var(--onBackground);
    display: block;
    text-decoration: none;
    padding: 1rem;
    text-align: end;
    box-sizing: border-box;
}

.nav .nav__list .nav__item a:hover{
    background-color: #eeeeee;
}

.hero__item{
    background: url('/images/hero-responsive/hero-image_2-small.jpg');
    background-position: center;
    background-size: cover;
}

.hero__container{
    box-sizing: border-box;
    padding: 2.5rem 1.5rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .60);
    justify-content: center;
}

.hero__title, .hero__subtitle{
    width: 100%;
    text-align: center;
}

.hero__title{
    color: var(--onPrimary);
    font-size: 3rem;
}

.hero__subtitle{
    margin-top: 1rem;
    color: rgba(255, 255, 255, .9);
    font-size: 1.25rem;
}

main{
    flex: 1;
}

#state__container {
    text-align: center;
}


.restaurant{
    margin-top: 2rem;
    padding: 0 1rem;
}

.restaurant__title{
    text-align: center;
    font-size: 1.75rem;
}

.restaurant__list{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
    margin: 1.5rem auto;
}

.restaurant__item, .restaurant__detail__reviews__item{
    box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 3px 0 rgba(0,0,0,0.3),0 1px 2px 0 rgba(0,0,0,0.1);
    border-radius: .375rem;
    position: relative;
}

.restaurant__item__thumbnail{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: .375rem .375rem 0 0 ;
}

.restaurant__item__data{
    padding: 1rem;
}

.restaurant__item__rating{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 1rem;
    background-color: #f7ea00;
    position: absolute;
    top: 1.5rem;
    left: 0;
    border-radius: 0 .75rem .75rem 0;
}

.restaurant__item__rating__star{
    width: 1rem;
    height: 1rem;
    margin-right: .3rem;
}

.restaurant__item__name{
    font-size: 1.25rem;
}

.restaurant__item__name a{
    padding: .75rem 0;
    display: inline-block;
}

.restaurant__item__name a{
    text-decoration: none;
    color: #212121;
}

.restaurant__item__name a:hover{
    text-decoration: underline;
}

.restaurant__item__city{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--secondary);
}

.restaurant__item__city__icon{
    width: 1rem;
    height: 1rem;
    margin-right: .25rem;
}

.restaurant__item__description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-top: .25rem;
}



#footer{
    background-color: #212121;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}



.skip-link {
    position: absolute;
    top: -4rem;
    left: 0;
    background-color: #f7ea00;
    color: #212121;
    padding: 1rem;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}



.text-center {
    text-align: center;
}

.rounded {
    border-radius: 1rem;
}

.restaurant__detail__container {
    padding: 1rem;
}

.restaurant__detail__title {
    margin-top: 1.5rem;
}

.restaurant__detail__star__container {
    color: var(--secondary);
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.restaurant__detail__location {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.restaurant__detail__location .icon {
    margin-right: .3rem;
    color: var(--primary);
}

.restaurant__detail__category {
    margin-top: 2rem;
}

.restaurant__detail__sub__category {
    margin-top: .5rem;
}

#restaurant__detail__sub__category__description p {
    text-align: justify;
}

.restaurant__detail__reviews__container {
    margin: 2rem -1rem;
}

.restaurant__detail__reviews__item {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    margin: 1rem;
}

.restaurant__detail__reviews__data__container {
    padding-left: .5rem;
}

.restaurant__detail__reviews__data__date {
    font-size: .8rem;
    color: rgba(0,0,0,0.7);
}

.restaurant__detail__reviews__data__name {
    font-weight: 700;
}

.restaurant__detail__reviews__data__comment {
    margin-top: .25rem;
}

#category__reviews__form {
    margin-bottom: 4rem;
}


.badge__container {
    list-style-type: none;
    margin-top: .25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -.25rem -.25rem -.25rem;
}

.badge__container li {
    margin: .25rem;
    display: inline-block;
    padding: .25rem 1rem;
    background-color: var(--secondary);
    font-size: .8rem;
    color: var(--onPrimary);
    border-radius: 1.5rem;
}

#likeButtonContainer {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

#likeButtonContainer #likeButton {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.25rem;
    border-radius: 50%;
    border: 0;
    background: var(--primary);
    color: var(--onPrimary);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#likeButtonContainer #likeButton svg {
    width: 1.25rem;
    height: 1.25rem;
}

.input__text{
    box-sizing: border-box;
    display: block;
    padding: .75rem;
    width: 100%;
}

.input__text:focus {
    border-color: var(--primary);
    outline-color: var(--primary);
}

textarea.input__text{
    resize: vertical;
}

.submit__button {
    padding: .9rem 1.25rem;
    background: var(--primary);
    cursor: pointer;
    border: 0;
    color: var(--onPrimary);
    border-radius: .25rem;
    font-size: 1rem;
}

.submit__button:hover{
    background: var(--darkPrimary);
}

.mt__3 {
    margin-top: .75rem;
}

@media screen and (min-width: 640px){
    .header__title{
        text-align: left;
    }
    #hamburger{
        display: none;
    }
    .header__nav{
        display: inline-block;
    }

    .nav{
        display: none !important;
    }

    .hero__container{
        min-height: 65vh;
    }

    .hero__item{
        background: url('/images/hero-responsive/hero-image_2-large.jpg');
        background-position: center;
        background-size: cover;
    }

    .restaurant__list{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
    }

    .restaurant__detail__container {
        padding: 1.5rem 1.5rem;
    }

    .restaurant__detail__overview {
        display: flex;
        flex: row;
        align-items: flex-start
    }

    .restaurant__detail__overview__image {
        width: 40%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .restaurant__detail__overview__data {
        padding-left: 1.5rem;
    }

    .restaurant__detail__title {
        margin-top: 0;
    }

    .restaurant__detail__menu {
        display: flex;
        flex-direction: row;
        align-items: flex-start
    }

    .restaurant__detail__menu .restaurant__detail__sub__category {
        flex: 1;
    }

    .restaurant__detail__menu h3 {
        text-align: center;
    }

    .restaurant__detail__menu .badge__container {
        justify-content: center;
    }
}

@media screen and (min-width: 1024px){
    .restaurant__list{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }


    .restaurant__detail__overview__image {
        width: 30%;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

/* @media screen and (min-width: 1280px){
    .restaurant__list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }
} */